body{
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header{
    text-align: center;
}

.conteneur {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    background-color: #fff;
    color: #444;
}

.boite {
    background-color: rgb(221, 127, 127);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/*
définir l'étendue de chaque classe
*/

.h8,.h9,.h10,.h11,.h12,.h13,.h14,.h15,.h16,.h17{
    grid-column: 1;
}

.h8{
    grid-row: 2;
}

.h9{
    grid-row: 3;
}

.h10{
    grid-row: 4;
}

.h11{
    grid-row: 5;
}

.h12{
    grid-row: 6;
}

.h13{
    grid-row: 7;
}

.h14{
    grid-row: 8;
}

.h15{
    grid-row: 9;
}

.h16{
    grid-row: 10;
}

.h17{
    grid-row: 11;
}



.lundi,.mardi,.mercredi,.jeudi,.vendredi{
    grid-row: 1;
}

.lundi{
    grid-column: 2;
}

.mardi{
    grid-column: 3;
}

.mercredi{
    grid-column: 4;
}

.jeudi{
    grid-column: 5;
}

.vendredi{
    grid-column: 6;
}

.cours1{
    grid-column: 2;
    grid-row: 7/12;
}

.cours2{
    grid-column: 3;
    grid-row: 8/12;
}

.cours3{
    grid-column: 4;
    grid-row: 5;
    background-color: $couleurS;
    color: white;
}

.cours4{
    grid-column: 4;
    grid-row: 7/10;
}

.cours5{
    grid-column: 5;
    grid-row: 2/6;
}

.cours6{
    grid-column: 5;
    grid-row: 8/12;
}

.cours7{
    grid-column: 6;
    grid-row: 7/10;
}

.cours1,.cours2,.cours3,.cours4,.cours5,.cours6,.cours7,.h8,.h9,.h10,.h11,.h12,.h13,.h14,.h15,.h16,.h17,.lundi,.mardi,.mercredi,.jeudi,.vendredi{
    border: 2px black solid;
    text-align: center;
}

.cours1,.cours5{
    
    background-color: $couleurPFE;
}

.cours2,.cours6{
    background-color: $couleurPVT;
}

.cours4,.cours7{
    background-color: $couleurV;
    color: white;
}

.cours1,.cours2,.cours3,.cours4,.cours5,.cours6,.cours7{
    border-radius: 5%;
}

.h8,.h9,.h10,.h11,.h12,.h13,.h14,.h15,.h16,.h17{
    background-color: lighten($couleurH,40%);
}

.lundi,.mardi,.mercredi,.jeudi,.vendredi{
    background-color: $couleurJ;
}